html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root{
    --primaryColor: #D2691E;
    --primaryColor2: #fad14a;
    --titleColor: #080808;
    --textColor: #BC8F8F;
    --borderColor: #A0522D;
    --gradientColor: linear-gradient(90deg, #fad14a 0%, #D2691E 100%);
    --shadowColor: 0px 10px 30px rgba(128,0,0, 0.3);
    --boxShadow: 0px 10px 30px rgba(139,69,19, 0.2);


/* font family variables */
    --playfairDisplay: 'Playfair_Display';
}